.big-text() {
  font-size: @big-link-size;
  color: @main-text;

  &:hover {
    color: @main-text-hover;
  }

  &:active {
    color: @main-text-down;
  }
}
.main-text() {
  font-family: @base-font-family;
  font-size: @link-size;
  color: @paragraph;
}
.title_1() {
  font-size: 27px;
  line-height: 30px;
}


.link-decor() {
  text-decoration: none;
}

.link-color() {
  color: @main-text;

  &:hover {
    color: @main-text-hover;
  }

  &:active {
    color: @main-text-down;
  }
}