.big-text() {
  font-size: @big-link-fz;
  line-height: @big-link-lh;
  color: @clr-main-text;

  &:hover {
    color: @clr-main-text-hover;
  }

  &:active {
    color: @clr-main-text-down;
  }
}
.main-text() {
  font-family: @base-ff;
  font-size: @link-fz;
  line-height: @base-lh;
  color: @clr-paragraph;
}

.title_1() {
  font-size: 27px;
  line-height: 30px;
}

.title_2() {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.title_3() {
  margin: 0;
  font-size: @big-link-fz;
  line-height: @base-lh;
  font-weight: bold;
}


.link-decor() {
  text-decoration: none;
}

.link-color() {
  color: @clr-main-text;

  &:hover {
    color: @clr-main-text-hover;
  }

  &:active {
    color: @clr-main-text-down;
  }
}

.white-btn-link() {
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 13px;

  color: @clr-dark-grey;
  background: @clr-white-btn;
  font-size: @big-link-fz;
  line-height: @big-link-lh;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid @clr-dark-grey;

  &:hover {
    color: @clr-white-btn;
    background: @clr-dark-grey;
  }

  &:active {
    color: fade(@clr-white-btn, 30%);
    background: @clr-dark-grey;
  }
}