// common
@dark-grey: #444;

// colors
@green: #63d1bb;
@green-hover: #59d5bc;
@green-darken: #56c3b2;
@green-darken-hover: #46c1ae;
@green-btn: #62d1ba;
@green-btn-down: #d0f1ea;
@white-btn: #fff;
@white-btn-text: @dark-grey;
@white-btn-hover: @dark-grey;
@white-btn-hover-text: #8d8d8d;

// text color
@paragraph: @dark-grey;
@main-text: #000;
@main-text-hover: fade(@main-text, 60%);
@main-text-down: fade(@main-text, 30%);

// text styles
@base-font-family: "Open Sans", sans-serif;
@big-link-size: 17px;
@link-size: 15px;
@title-link-size: 20px;
@main-size: 15px;
@form-size: 19px;
