.catalog-menu__item {
  list-style: none;
}

.catalog-menu__link {
  .link-color();
  .link-decor();
  color: #ffffff;
}

.catalog-menu__link--interior {
  background-color: @green;
}

.catalog-menu__link--toys {
  background-color: @green-darken;
}