.catalog-menu {
  display: flex;

  .reset();
}

.catalog-menu__item {
  list-style: none;
}

.catalog-menu__link {
  display: block;
  .link-color();
  .link-decor();
  color: #ffffff;

  &--interior {
    background-color: @clr-green;
  }

  &--toys {
    background-color: @clr-green-darken;
  }
}