.catalog__header {
  .grey-header();
}

.catalog__title {
  .title_1();
  margin-top: 70px;
}

.catalog__wrapper {
  .center-alignment(@mobile-width);
}

.catalog__video {
  .center-alignment(@mobile-width);
  margin-top: 30px;
  padding: 0 @mobile-padding;
}


@media (min-width: @tablet-width) {
  .catalog__title {
    .title_big();
    margin-top: 90px;
  }

  .catalog__wrapper {
    .center-alignment(@tablet-width);
  }

  .catalog__header {
    .grey-header-tablet();
  }

  .catalog__video {
    .center-alignment(@tablet-width);
    padding: 0 @tablet-padding;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    .center-alignment(@desktop-width);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .catalog__item {
    width: 318px;
    height: 660px;

    &:last-of-type {
      margin-right: auto;
    }
  }

  .catalog__header {
    .grey-header-desktop();
  }

  .catalog__title {
    .title_max();
    margin-top: 90px;
  }

  .catalog__video {
    .center-alignment(@desktop-width);
    padding: 0 25px;
    margin-top: 28px;
    margin-bottom: 10px;
  }
}