.contact-table {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
}

.contact-table__cell:first-child {
  height: 60px;
}

.contact-table__cell:nth-of-type(odd) {
  flex-basis: auto;
  margin-right: auto;
}

.contact-table__cell:nth-of-type(even) {
  flex-basis: 180px;
}