.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.contacts__map {
  overflow: hidden;
  margin: 0 -30px;
  width: 320px;
  height: 457px;
}

.contacts__callback {
  .white-btn-link();
  margin-top: 35px;
}

.contacts__info {
  margin-bottom: 40px;
}

.contacts__flag {
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__title {
    margin-top: 20px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__flag {
    display: inline-block;
    width: 51px;
    height: 83px;
    margin-left: auto;
  }

  .contact-table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .contacts__map {
    width: @tablet-width;
    margin: 0 -50px;
  }

  .contacts__callback {
    width: 230px;
    margin: 55px auto 0;
    align-self: center;
  }
}


@media (min-width: @desktop-width) {

}
