.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
}

.contacts__map {
  overflow: hidden;
  margin: 0 -30px;
  width: 320px;
  height: 457px;
}

.contacts__callback {
  .white-btn-link();
  margin-top: 35px;
}

.contacts__info {
  margin-bottom: 40px;
}

.contacts__flag {
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__title {
    margin-top: 20px;
    .title_big;
  }

  .contacts__flag {
    display: inline-block;
    width: 51px;
    height: 83px;
    margin-left: auto;
  }

  .contacts__map {
    width: @tablet-width;
    margin: 0 -50px;
  }

  .contacts__info {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: @big-link-fz;
  }

  .contacts__callback {
    width: 230px;
    margin: 55px auto 0;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    height: 460px;
  }
  .contacts__title {
    order: 2;
    margin-left: 45px;

    .title_max();
  }

  .contacts__flag {
    order: 5;
    align-self: flex-end;
    margin-bottom: auto;
    margin-top: 60px;
    margin-left: 35px;
  }

  .contacts__info {
    order: 2;
    margin-left: 35px;
  }

  .contacts__callback {
    order: 3;
    margin-top: 25px;
    margin-right: auto;
    margin-left: 50px;
  }

  .contacts__map {
    order: 1;
    width: 525px;
    margin: 0 -25px 0 auto;
  }
}
