.copyright__title {
  font-size: 19px;
  line-height: 19px;
  text-transform: capitalize;
  color: @clr-main-text;
  .link-decor();
}

.copyright__logo {
  position: relative;
}

.copyright__logo::before {
  position: absolute;
  content: '';
  top: -7px;
  left: 30px;
  width: 27px;
  height: 35px;
  background: url("/img/htmlacademy.png") no-repeat 0 -38px;
}

.copyright__link:hover .copyright__logo::before {
  background-position: 0 0;
}

.copyright__link:active .copyright__logo::before {
  background-position: 0 -76px;
}

.copyright__link:active .copyright__title {
  color: fade(@clr-main-text, 30%);
}