.form-content__header {
  .grey-header();
}

.form-content__title {
  .title_1();
  margin-top: 70px;
}


.form-content__wrapper {
  .center-alignment(@mobile-width);
  padding: 0 @mobile-padding;
}

.form-content__intro {
  margin-top: 20px;
  font-size: 13px;
}

@media (min-width: @tablet-width) {
  .form-content__wrapper {
    .center-alignment(none);
    padding: 0;
  }

  .form-content__intro,
  .form-content__section {
    .center-alignment(@tablet-width);
    padding: 0 @tablet-padding;
  }

  .form-content__section-wrapper {
    margin-top: 30px;
    padding: 0 0 65px;
    background: @clr-grey-bg;
    border-top: 1px solid transparent;

    &:nth-of-type(2) {
      padding-bottom: 50px;
    }
  }

  .form-content__header {
    .grey-header-tablet();
  }

  .form-content__title {
    .title_big();
    margin-top: 90px;
  }

  .form-content__intro{
    margin-top: 50px;
    font-size: @big-link-fz;
    line-height: 30px;
  }

  .form-content__section-wrapper {
    width: 100%;
    background: @clr-grey-bg;
  }

  .form-content__section {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .form-content__wrapper {
    .center-alignment(@desktop-width);
    padding: 0 @desktop-padding;
  }

  .form-content__title {
    .title_max();
  }

  .form-content__header {
    .grey-header-desktop();
  }

}