.hit {
  padding: 30px @mobile-padding 0;
}

.hit__header br {
  display: none;
}

.hit__title {
  .title_2();
  margin-bottom: 5px;
}

.hit__description {
  .main-text();
}

.hit__type {
  display: block;
  .big-text();
  color: @clr-green;
  text-transform: uppercase;
}

.hit__goods {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  margin: 20px 0;
}

.hit__img {
  width: 260px;
  height: 315px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hit__props {
  width: 100%;
  margin-top: 15px;
  margin-bottom: auto;
}

.hit__price {
  .title_3();
  align-self: center;
}

.hit__buy-btn {
  .white-btn-link();
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .hit {
    padding: 30px @tablet-padding 0;
  }

  .hit__header br {
    display: block;
  }

  .hit__header {
    display: flex;
  }

  .hit__title {
    flex-grow: 1;
    width: 500px;
    font-size: @big-fz;
  }

  .hit__type {
    width: 130px;
    text-align: center;
  }

  .hit__goods {
    flex-wrap: wrap-reverse;
    height: 410px;

    margin: 50px 0 20px;
  }

  .hit__goods > * {
    width: 290px;
  }

  .hit__props {
    margin-top: 35px;
  }

  .hit__img {
    order: -1;
    align-self: flex-start;
    flex-basis: 100%;
    width: 335px;
    margin: 0;
  }

  .hit__description {
    font-size: @big-link-fz;
    line-height: 30px;
  }

  .hit__price {
    font-size: @title-link-fz;
    text-align: center;
    align-self: flex-end;
  }
}

@media (min-width: @desktop-width) {
  .hit {
    position: relative;
    padding: 0 25px;
  }

  .hit__header {
    position: absolute;
    top: 50px;
  }

  .hit__title {
    width: 870px;
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }

  .hit__type {
    width: 170px;
    margin-top: 10px;
  }

  .hit__goods {
    width: 875px;
    height: 630px;
    margin-left: auto;
  }

  .hit__description {
    margin-top: 155px;
  }

  .hit__props {
    margin-top: 45px;
  }

  .hit__img {
    width: 525px;
  }
}