.hit__header {

}

.hit__title {
  .title_2();
  margin-bottom: 10px;
}

.hit__description {
  .main-text();
  padding: 3px;
}

.hit__type {
  .big-text();
  color: @clr-green;
  text-transform: uppercase;
}

.hit__picture {
  padding: 30px 0;
}

.hit__img {
  width: 260px;
  height: 315px;
  margin-bottom: 30px;
}

.hit__price {
  .title_3();
  text-align: center;
}

.hit__buy-btn {
  .white-btn-link();
}