.main-content__header {
  height: 285px;

  background: url("../img/top-bg.jpg") no-repeat center -17px;
  border-top: 1px solid transparent;
}

.main-content__title {
  max-width: 260px;
  margin: 75px auto 0;
  text-align: center;
  .title_1();
}

.main-content__hit,
.main-content__about,
.main-content__reviews,
.main-content__contacts {
  margin: 30px 30px 0;
}