.main-content__header {
  height: 282px;

  background: url("img/top-bg.jpg") no-repeat center -17px;
  border-top: 1px solid transparent;
}

.main-content__title {
  max-width: 260px;
  margin: 70px auto 0;
  text-align: center;
  .title_1();
}

.main-content__hit,
.main-content__about,
.main-content__reviews,
.main-content__contacts {
  .center-alignment(@mobile-width);
  padding: 0 @mobile-padding 0;
}

.main-content__reviews {
  margin-top: 35px;
}

.main-content__nav {
  .center-alignment(@mobile-width);
}

.main-content__contacts {
  margin-top: 45px;
  border-top: 1px solid transparent; // для отталкивания маргина внутреннего элемента
}

@media (min-width: @tablet-width) {

  .main-content__hit,
  .main-content__about,
  .main-content__reviews,
  .main-content__contacts {
    .center-alignment(@tablet-width);
  }

  .main-content__contacts {
    padding: 0 @tablet-padding;
  }

  .main-content__header {
    height: 745px;
    margin-bottom: -120px;
    background: url("img/top-bg-dskt.jpg") no-repeat center -1px;
  }

  .main-content__title {
    max-width: unset;
    margin-top: 150px;
    .title_big;
  }

  .main-content__nav {
    max-width: @tablet-width-no-padding;
  }

  .main-content__reviews {
    margin-top: 65px;
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {

  .main-content__hit,
  .main-content__about,
  .main-content__reviews,
  .main-content__contacts {
    .center-alignment(@desktop-width);
  }

  .main-content__title {
    .title_max();
  }

  .main-content__nav {
    max-width: @desktop-width-no-padding;
  }

  .main-content__reviews {
    margin-top: 75px;
    margin-bottom: 55px;
  }
}