.main-header__wave {
  display: none;
}

.main-header__delivery-info {
  display: none;
}


@media (min-width: @tablet-width) {
  .main-header__wave {
    position: relative;
    top: -12px;
    z-index: 25;
    display: block;
    height: 24px;
    background: url("/img/svg/wave.svg") repeat-x;
    background-size: auto 24px;
  }

  .main-header__delivery-info {
    display: block;
    position: absolute;
    top: @top-menu-shift;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wave {
    top: -14px;
    background-size: auto 34px;
  }
}