.main-header__delivery-info {
  display: none;
}


@media (min-width: @tablet-width) {
  .main-header__delivery-info {
    display: block;
    position: absolute;
    top: 110px;
    right: 0;
  }

}

@media (min-width: @desktop-width) {

}