.main-nav {
}

.main-nav__toggler {
  position: absolute;
  top: 0;
  right: -30px;
  width: 80px;
  height: 80px;
  font-size: 0;
  background-color: #fff;
}
.main-nav__toggler--open {
  background: url("/img/menu.png") no-repeat center;
}
.main-nav__toggler--close {
  position: relative;
}
.main-nav__toggler--close::after,
.main-nav__toggler--close::before {
  .pseudo(39px, 50%, 30px, 2px);
  margin-left: -15px;
  background: #000;
}

.main-nav__toggler--close::after {
  transform: rotate(45deg);
}
.main-nav__toggler--close::before {
  transform: rotate(-45deg);
}