.main-menu {
  font-size: @big-link-fz;
  line-height: @base-lh;
  font-weight: bold;
  list-style: none;
  .reset();
}

.main-menu__item {
  border-bottom: 1px solid @clr-grey-border;

  &--desktop-only {
    display: none;
  }
}

.main-menu__link {
  position: relative;
  display: block;
  .center-alignment(@mobile-width);
  padding: 30px 0 30px 75px;

  .link-decor();
  .link-color();

  &::before {
    .pseudo(50%, 30px, 0, 0);
    margin-top: -9px;
    background: url("img/sprite.png") no-repeat;
  }

  &--search::before {
    width: 20px;
    height: 19px;
    background-position: -817px -25px;
  }

  &--search:hover::before {
    background-position: -845px -25px;
  }

  &--cart::before {
    width: 22px;
    height: 20px;
    background-position: -816px -2px;
  }

  &--cart:hover::before {
    background-position: -842px -2px;
  }
}

@media (min-width: @tablet-width) {
  .main-menu {
    display: flex;
    max-width: @tablet-width-no-padding;
    font-size: @base-fz;
  }
  .main-menu__item {
    margin-right: 0;
    border-bottom: none;

    &:nth-of-type(1) {
      position: relative;
      top: @top-menu-shift;
      margin-right: auto;

      & > a {
        padding: 0;
      }
    }
    &:nth-of-type(2) {
      position: relative;
      top: @top-menu-shift;

      & > a {
        padding: 0;
      }
    }
  }
  .main-menu__link {
    width: 150px;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 35px;

    &--search {
      width: 84px;
      font-size: 0;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &--cart {
      width: auto;
      font-size: @big-link-fz;
      padding-left: 85px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-menu {
    flex-wrap: wrap;
    max-width: @desktop-width-no-padding;
    font-size: @big-link-fz;
  }
  .main-menu__item {

    &:nth-of-type(1) {
      width: 185px;
      top: 0;
      margin-right: 0;

      & > a {
        padding: 30px 0 35px;
        border-right: 1px solid #ececec;
      }
    }
    &:nth-of-type(2) {
      width: 500px;
      top: 0;
      margin-right: auto;

      & > a {
        padding: 30px 0 35px 35px;
        margin: 0;
      }
    }
    &:nth-of-type(3) {
      & > a {
        width: 84px;
      }
    }

    & > a {
      width: initial;
    }

    &--desktop-only {
      display: block;
      top: 120px;
      width: 185px;
      font-size: @base-fz;

      & > a {
        padding-top: 18px;
      }
    }

    &--desktop-only:nth-last-of-type(1) {
      padding-left: 35px;
    }
  }
}