.props-table {
  border-collapse: collapse;
  width: 100%;
}

.props-table__cell {
  border-bottom: 1px solid #CCC;
  padding: 9px 0;
  color: @clr-paragraph;
  font-size: @base-fz;
  line-height: @big-link-lh;
}

.props-table__cell:first-child {
  width: 38%;
}