.props-table {
  border-collapse: collapse;
}

.props-table__cell {
  border-bottom: 1px solid #CCC;
  padding: 10px 0;
  color: @clr-paragraph;
  font-size: @base-fz;
  line-height: @big-link-lh;
}

.props-table__cell:first-child {
  width: 38%;
}

@media (min-width: @tablet-width) {
  .props-table__cell:first-child {
    width: 96px;
  }

}