.social__list {
  list-style:none;
  .reset();
}

.social__link {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;

  &:hover .social__link--instagram,
  &:hover .social__link--facebook,
  &:hover .social__link--twitter {
    fill: #46c1ae;
  }

  &:active .social__link--instagram,
  &:active .social__link--facebook,
  &:active .social__link--twitter {
    opacity: .3;
  }
}

/*

.social__link::before {
  .pseudo(0, 0px, 30px, 30px);
  background: url("/img/social.png") no-repeat center;
}

.social__link--instagram::before {
  width: 24px;
  height: 21px;
  background-position: -33px 0;
}

.social__link--instagram:hover::before {
  background-position: -33px -32px;
}

.social__link--instagram:active::before {
  background-position: -33px -64px;
}

.social__link--twitter::before {
  width: 23px;
  height: 20px;
  background-position: 0 0;
}

.social__link--twitter:hover::before {
  background-position: 0 -32px;
}

.social__link--twitter:active::before {
  background-position: 0 -64px;
}

.social__link--facebook::before {
  width: 15px;
  height: 28px;
  background-position: -67px 0;
}

.social__link--facebook:hover::before {
  background-position: -67px -36px;
}

.social__link--facebook:active::before {
  background-position: -67px -72px;
}
*/

.social__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social__item {
  width: 60px;
  height: 40px;
  align-self: center;
}

.social__link--instagram {
  width: 22px;
}

.social__link--facebook {
  width: 15px;
}

.social__link--twitter {
  width: 23px;
}