.social__list {
  list-style:none;
  .reset();
}

.social__link {
  position: relative;
  margin-left: 10px;
}

.social__link::before {
  .pseudo(0, 0px, 30px, 30px);
  background: url("/img/social.png") no-repeat;
}

.social__link--instagram::before {
  width: 22px;
  height: 21px;
  background-position: -33px 0;
}

.social__link--instagram:hover::before {
  background-position: -33px -32px;
}

.social__link--instagram:active::before {
  background-position: -33px -64px;
}

.social__link--twitter::before {
  width: 23px;
  height: 20px;
  background-position: 0 0;
}

.social__link--twitter:hover::before {
  background-position: 0 -32px;
}

.social__link--twitter:active::before {
  background-position: 0 -64px;
}

.social__link--facebook::before {
  width: 15px;
  height: 28px;
  background-position: -67px 0;
}

.social__link--facebook:hover::before {
  background-position: -67px -36px;
}

.social__link--facebook:active::before {
  background-position: -67px -72px;
}