.video-block {
  //min-height: 503px;
}

.video-block__wrapper {

  border: 1px solid #ececec;
}

.video-block__header {
  display: flex;
  align-items: center;

  height: 100px;

  padding: 0 @mobile-padding;
}

.video-block__camera {
  margin-right: auto;
}

.video-block__title {
  .title_3();

  width: 140px;
}

.video-block__description {
  margin-top: 20px;
  padding: 0 35px;
  font-size: 13px;
}

.video-block__order {
  .white-btn-link();
  width: auto;
  margin: 25px 33px 35px;
}


@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}